#upload-photo {
  text-align: center;
}

.upload-photo-button {
  margin-top: 24px;
}

#upload-preview {

}

.preview {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 148px;
  margin: 12px 8px;
  padding: 20px;
  box-shadow: 0 0 24px #ddd;
}

.preview-wrapper {
  width: 148px;
  height: 148px;
}

.preview-wrapper img {
  max-height: 100%;
}

.preview-remove {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  line-height: 32px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.progress-bar {
  height: 4px;
}

.upload-percent {
  height: inherit;
  background: var(--themeColor);
  transition: width linear 0.4s;
}

.upload-success-icon {

}